# sudo
alias sudo='sudo ' # Allows for using aliases with sudo
alias supersaiyan='sudo --login --user=root'

# coreutils
alias la='LC_COLLATE=C exa --color=auto --long --all --all --group --classify --git --group-directories-first --color-scale --icons'
alias tree='LC_COLLATE=C exa --color=always --long --all --group --classify --git --group-directories-first --color-scale --icons --tree --ignore-glob=.git'
alias cp='cp --interactive'
alias mv='mv --interactive'
#alias rm='rm --interactive=once --one-file-system --preserve-root'
alias rm='trash --verbose'
alias egrep='grep --color=auto --perl-regexp --binary-files=without-match --line-number'

# Git
alias g='git'
alias gs='git status'
alias gsa="find . -maxdepth 1 -mindepth 1 -type d -exec sh -c '(cd {} && [[ -d .git ]] && echo {} && git status --short && echo)' \;"
alias gb='git branch --all --verbose --verbose'
alias gr='git remote --verbose'
alias grpo='git remote prune origin'
alias gd='git diff'
alias gdc='git diff --cached'
alias gl='git log'
alias glp='git log --patch'
alias gn='git log --oneline --decorate --graph'
alias gna='git log --oneline --decorate --graph --all'
alias gnaw='watch --color --no-title --interval 1 git log --color=always --oneline --decorate --graph --all'
alias gsh='git show'
alias gw='git log --no-merges --compact-summary'
alias gws='git log --no-merges --shortstat'
alias gwr='git log --no-merges --raw'
alias gf='git fetch'
alias gfa='git fetch --all'
alias gch='git checkout'
alias gchp='git checkout --patch'
alias gchb='git checkout --no-track -b'
alias ga='git add --patch'
alias gai='git add --interactive'
alias gc='git commit'
alias gca='git commit --amend'
alias gcf='git commit --fixup'
alias gcp='git cherry-pick'
alias grb='git rebase'
alias grbi='git rebase --interactive'
alias grbia='git rebase --interactive --autosquash'
alias grbo='git rebase --onto'
alias grbc='git rebase --continue'
alias grba='git rebase --abort'
alias gmt='git mergetool'
alias gp='git push'
alias gpu='git push --set-upstream origin "$(git rev-parse --abbrev-ref HEAD)"'
alias gpuf='git push --force-with-lease --set-upstream origin "$(git rev-parse --abbrev-ref HEAD)"'
alias gpf='git push --force-with-lease'

# Docker
alias d='docker'
alias dvl='docker volume ls'
alias di='docker images'
alias dia='docker images --all'
alias dp='docker ps'
alias dpa='docker ps --all'
alias dpaq='docker ps --all --quiet'
alias de='docker exec --tty --interactive'
alias dr='docker run --rm --tty --interactive'
alias dl='docker logs'
alias dlf='docker logs --follow'
alias dn='docker network'
alias dnl='docker network ls'

# Docker Compose
alias dc='docker-compose'
alias dcu='docker-compose up --detach'
alias dcun='docker-compose up --detach --no-deps'
alias dcur='docker-compose up --detach --remove-orphans'
alias dcuf='docker-compose up --detach --force-recreate'
alias dcufn='docker-compose up --detach --force-recreate --no-deps'
alias dcufr='docker-compose up --detach --force-recreate --remove-orphans'
alias dcp='docker-compose ps'
alias dce='docker-compose exec'
alias dcet='docker-compose exec -T'
alias dcr='docker-compose run --rm'
alias dcrn='docker-compose run --rm --no-deps'
alias dcrnt='docker-compose run --rm --no-deps -T'
alias dcl='docker-compose logs'
alias dclf='docker-compose logs --follow'
alias dcb='docker-compose build'
alias dcbn='docker-compose build --no-cache'

# Image manipulation
alias trimjpeg='jpegoptim --strip-all --preserve --totals'
alias trimpng='pngcrush -brute -reduce -ow -oldtimestamp'

# Misc.
alias v='vim'
alias vi='vim'
alias open='xdg-open'
