# Displays a nice ASCII weather report right in the terminal (requires `curl`).
#
# Args:
# $1 Name of the city to display weather for (default: value of CITY env var)
# $2 Language of the report as a 2-letter ISO 639-1 code (default: first 2 letters of LANG env var)
weather() {
  weather_city="${1:-"${CITY}"}"
  weather_lang="${2:-"$(echo "$LANG" | head -c 2)"}"

  if [[ -z "$weather_city" ]]; then
    echo '[ERROR] Could not resolve your city'

    return 1
  fi

  if [[ -z "$weather_lang" ]]; then
    echo '[ERROR] Could not resolve your language'

    return 1
  fi

  curl -Ss "http://${weather_lang}.wttr.in/${weather_city}"

  return 0
}

# Sends an SMS via the Free Mobile web service (requires `curl` and `php).
send_sms() {
  if [[ ! -z "$SMS_API_USER" ]]; then
    username="$SMS_API_USER"
  else
    echo 'Username:'
    read username
  fi

  if [[ ! -z "$SMS_API_KEY" ]]; then
    key="$SMS_API_KEY"
  else
    echo 'API key:'
    read key
  fi

  echo 'Message:'
  read message
  message="$(php -r "echo urlencode('${message}');")"

  curl -Ss "https://smsapi.free-mobile.fr/sendmsg?user=${username}&pass=${key}&msg=${message}"
}
