# Displays a nice ASCII weather report right in the terminal.
#
# Requires:
# 
# * `curl`
#
# Args:
# 
# $1 Name of the city to display weather for (default: value of CITY env var)
# $2 Language of the report as a 2-letter ISO 639-1 code (default: first 2 letters of LANG env var)
weather() {
  local weather_city="${1:-"${CITY}"}"
  local weather_lang="${2:-"$(echo "$LANG" | head -c 2)"}"

  if [[ -z "$weather_city" ]]; then
    echo '[ERROR] Could not resolve your city'

    return 1
  fi

  if [[ -z "$weather_lang" ]]; then
    echo '[ERROR] Could not resolve your language'

    return 1
  fi

  curl -Ss "http://${weather_lang}.wttr.in/${weather_city}"

  return 0
}

# Automatically sources any `.aliases` file found in a directory when you `cd`
# into it, and reinitializes your aliases to the previous state when leaving the
# directory. An `.aliases` file can only contain `alias …` declarations, otherwise
# it will be ignored.
#
# Requires:
#
# * `cat`
# * `grep`
cd() {
  builtin cd "$@"

  if [[ "$?" -gt 0 ]]; then
    return "$?"
  fi

  if [[ -f .aliases && -z "$(cat .aliases | grep -v '^alias ')" ]]; then
    base_aliases="$(alias)"
    . .aliases
  fi

  if [[ ! -f .aliases && ! -z "$base_aliases" ]]; then
    unalias -a
    eval "$base_aliases"
  fi

  return 0
}

base_aliases=''
