# sudo
alias sudo='sudo ' # Allows for using aliases with sudo
alias supersaiyan='sudo -i -u root'

# coreutils
alias la='ls -lahF --group-directories-first --color=auto'
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -I --one-file-system --preserve-root'
alias grep='grep -In --color=auto'
alias grepi='grep -i'

# Git
alias g='git'
alias gs='git status'
alias gsa="find . -maxdepth 1 -mindepth 1 -type d -exec sh -c '(echo {} && cd {} && [[ -d .git ]] && git status -s && echo)' \;"
alias gb='git branch -avv'
alias gr='git remote -v'
alias grp='git remote prune'
alias grpo='git remote prune origin'
alias gd='git diff --ws-error-highlight=all'
alias gdc='git diff --cached --ws-error-highlight=all'
alias gl='git log --ws-error-highlight=all'
alias glp='git log -p --ws-error-highlight=all'
alias gn='git log --oneline --decorate --graph'
alias gna='git log --oneline --decorate --graph --all'
alias gw='git log --raw --no-merges'
alias gsh='git show --ws-error-highlight=all'
alias gf='git fetch --all'
alias gch='git checkout'
alias gchb='git checkout --no-track -b'
alias ga='git add -p'
alias gc='git commit'
alias gca='git commit --amend'
alias gcf='git commit --fixup'
alias grbi='git rebase -i'
alias grbia='git rebase -i --autosquash'
alias grbc='git rebase --continue'
alias grba='git rebase --abort'
alias grh='git reset HEAD~'
alias gp='git push'
alias gpu='git push -u origin "$(git rev-parse --abbrev-ref HEAD)"'
alias gpuf='git push --force-with-lease -u origin "$(git rev-parse --abbrev-ref HEAD)"'
alias gpf='git push --force-with-lease'

# Docker
alias d='docker'
alias dvl='docker volume ls'
alias di='docker images'
alias dia='docker images -a'
alias dp='docker ps'
alias dpa='docker ps -a'
alias de='docker exec -ti'
alias dr='docker run --rm -ti'
alias dl='docker logs'
alias dlf='docker logs -f'

# Docker Compose
alias dc='docker-compose'
alias dcu='docker-compose up -d'
alias dcun='docker-compose up -d --no-deps'
alias dcur='docker-compose up -d --remove-orphans'
alias dcuf='docker-compose up -d --force-recreate'
alias dcufn='docker-compose up -d --force-recreate --no-deps'
alias dcufr='docker-compose up -d --force-recreate --remove-orphans'
alias dcp='docker-compose ps'
alias dce='docker-compose exec'
alias dcet='docker-compose exec -T'
alias dcr='docker-compose run --rm'
alias dcrn='docker-compose run --rm --no-deps'
alias dcrnt='docker-compose run --rm --no-deps -T'
alias dcl='docker-compose logs'
alias dclf='docker-compose logs -f'
alias dcb='docker-compose build'
alias dcbn='docker-compose build --no-cache'

# Kubernetes
alias k='kubectl'

# APT
alias aptsearch='apt-cache search --names-only'
alias aptshow='apt-cache show'
alias aptpurge='apt-get purge --auto-remove'

# Misc.
alias vi='vim'
alias jpegtrim='jpegoptim -pt --strip-all'
