"*":
  "atom-autocomplete-php":
    autoloadPaths: [
      "vendor/autoload.php"
    ]
    binComposer: "composer"
    classMapFiles: [
      "vendor/composer/autoload_classmap.php"
    ]
  "atom-symfony2":
    console: [
      "app/console"
      "bin/console"
      "php/app/console"
      "php/bin/console"
    ]
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    enableExtendedUnicodeSupport: true
  "bracket-matcher": {}
  "command-palette":
    preserveLastSearch: true
  core:
    disabledPackages: [
      "background-tips"
      "autosave"
      "package-generator"
      "dev-live-reload"
      "welcome"
      "timecop"
      "styleguide"
      "spell-check"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: false
    projectHome: "/home/fabien/Projects"
    reopenProjectMenuCount: 10
    telemetryConsent: "no"
  docblockr:
    align_tags: "no"
    deep_indent: true
    return_description: false
    short_primitives: true
    spacer_between_sections: "true"
  editor:
    autoIndentOnPaste: false
    preferredLineLength: 120
    scrollPastEnd: true
    showCursorOnSelection: false
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "b817839e-ac35-4416-a025-1c5c3030a936"
  "find-and-replace":
    closeFindPanelAfterSearch: true
    focusEditorAfterSearch: true
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    ignoredNames: [
      "**/var/*"
      "**/node_modules/*"
    ]
    preserveLastSearch: true
  "git-diff": {}
  "highlight-selected":
    lightTheme: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "markdown-preview": {}
  "one-dark-ui":
    tabSizing: "Minimum"
  "one-light-ui":
    tabSizing: "Minimum"
  "php-getters-setters":
    doNotTypeHint: [
      "mixed"
      "numeric"
      "unknown"
    ]
    getterTemplate: '''
      %scope% function %methodName%(): %type%
      {
          return $this->%variable%;
      }


    '''
    setterTemplate: '''
      %scope% function %methodName%(%typeHint%$%variable%)
      {
          $this->%variable% = $%variable%;
      }


    '''
  "status-bar":
    fullWidth: false
  tabs:
    addNewTabsAtEnd: true
    enableMruTabSwitching: false
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
