# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'atom-text-editor':
  'ctrl-d': 'editor:delete-line'
  'ctrl-shift-up': 'editor:add-selection-above'
  'ctrl-shift-down': 'editor:add-selection-below'
  'alt-d': 'find-and-replace:select-next'

'.platform-win32, .platform-linux':
  'ctrl-k ctrl-t': 'tree-view:toggle'

'body':
  'ctrl-k up': 'pane:split-up-and-move-active-item'
  'ctrl-k right': 'pane:split-right-and-move-active-item'
  'ctrl-k down': 'pane:split-down-and-move-active-item'
  'ctrl-k left': 'pane:split-left-and-move-active-item'

'.workspace':
  'ctrl-k ctrl-g': 'github:toggle-git-tab'
  'ctrl-k ctrl-h': 'github:toggle-github-tab'

# Disable all AZERTY-quirky bindings
'*':
  'ctrl-8': '!unset'
  'ctrl-9': '!unset'
  'ctrl-shift-8': '!unset'
  'ctrl-shift-9': '!unset'
  'ctrl-_': '!unset'
  'ctrl-+': '!unset'
  'ctrl-\\': '!unset'
  'alt-\\': '!unset'
  'ctrl-[': '!unset'
  'ctrl-]': '!unset'
  'ctrl-alt-[': '!unset'
  'ctrl-alt-]': '!unset'
  'ctrl-alt-shift-[': '!unset'
  'ctrl-alt-shift-]': '!unset'
