[Desktop Entry]
Name=Deezer
StartupWMClass=deezer
Exec=/home/fabien/.local/bin/deezer/deezer
Icon=/home/fabien/.local/bin/deezer/resources/app/icon.png
Type=Application
