[Desktop Entry]
Name=Google Meet
StartupWMClass=google-meet
Exec=/home/fabien/.bin/google-meet/google-meet
Icon=/home/fabien/.bin/google-meet/resources/app/icon.png
Type=Application
